.topLevel{
    display: flex;
    background-color: var(--yellow);
    min-height: 100vh;
}



/* Custom default button */
/* .btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
/*} */
.btnHomePage{
    color: white;
    text-shadow: none;
    background-color: var(--yellow);
}

.headerBannerContainer{
    height: 100%;
    width: 100%;
}
.headerBannerText{
    font-size: 4vw;
    color: #FFF;
}

/*
 * Base structure
 */

.bodyStyle {
   
    /* width: 100%;
    height: 100vh;
    min-height: auto;
    overflow: hidden; */
    /* display: flex;
    flex-direction: column; */
    
    height: 100%;
    /* min-height: 100vh;
    width: 100%; */
    
    /* background-color: blueviolet; */

    /*testing*/
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    min-height: auto;
    width: 100%;
    object-fit:cover;
    object-position: center;
    
}
.carouselCustom{
    height: 100%;
    width: 100%;
    /* object-fit:contain;
    object-position: center; */
}

.cta_h1{
    font-size: 4em;
    text-shadow: 2px 2px #000000;
}
.cta_p{
    font-size: 2em;
    text-shadow: 2px 2px #000000;
}

.video{
    position: relative;
    left: 0;
    top: 0;
    height: 100vh;
    /* min-height: auto; */
    width: 100%;
    object-fit:cover;
    object-position: center;
    z-index: -100;
    opacity: 0.5;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}
.coverContainer {
  display:flex;
  flex-direction: column;   
}
.coverOverlay{
    background-color: rgba(255, 187, 51, 0.3);
    /* box-shadow: inset 0 0 8rem rgba(0, 0, 0, 1); */
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    min-height: auto;
    width: 100%;
    object-fit:cover;
    object-position: center;
    z-index: -99;
    opacity: 0.8;
    padding: 0;
    margin: 0;
        
}

.consultBtnContainer{
    background-color: var(--darkBlue);
}

.carouselItemContainer{
    display: flex;
    flex-direction: column;
}
.mainCardContainer{
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    justify-content:center;
    align-items: center;
    height: 95%;
    width: 100%;

    /* padding: 0.5rem 0rem; */
    margin: 0;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    justify-content:center;
    align-items: center;
    height: 95%;
    width: 100%;
    z-index: -999;
    /* padding: 0.5rem 0rem; */
    margin: 0;

    /* //BACKGROUND COLOR */
  
    
    
}


/*inside Card component */
.card{
  
    position: relative;
    justify-content:space-around;
    align-items: center;
    background-color: none;
    color: #fff;
 
    transition-property: background-color, width, height;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
    padding: 10px;
    margin: 10px 20px;
    width: 100%;
    height: 100%;
   border: #fff;
   border-style: solid;
   border-width: 1px;
   border-radius: 15px;
 }
 .card:hover {
    opacity: 0.95;
        background-color: rgba(255, 187, 51, 0.5);
        width: 97%;
        height: 97%;
    
  }
  .card_icon_container {
      display: flex;
    position:absolute;
    justify-self: flex-start;
    opacity: 0.1;
    object-fit:cover;
    object-position: center;
    /* z-index: -100; */
   
    /* top: 3rem; */
   }
   .cardHeaderCustom {
       font-size: 3.6em;
       color: #FFF;
       font-weight: 700;
       background-color: var(--yellow);
       text-shadow: 2px 2px #000000;
   }
   
   #card_title{
    font-size: 3rem;
    position:relative;  
    font-weight: 600;
   }
   #card_text{
        justify-content: center;
        align-items: flex-end;
        position:relative;
        font-size: 1.5em;
        font-weight: 200;
        margin-top: 5%;
        display: flex;
   }



 /* MEDIA QUERIES */

 @media screen and (min-width: 1200px) {
    .cardContainer{
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content:center;
        align-items: center;
        height: 80vh;
        width: 100%;
    
        padding: 2.5rem 0rem;
        margin: 0;
    }

    /*inside Card component */
    .card{
        display: flex; 
        flex-direction: row;
        position: relative;
        justify-content:center;
        align-items: center;
        
        color: #fff;
        /* transition: color 1s ease-in-out,
        opacity 1s ease-in-out; */
        /* transition: background-color 0.7s ease-in-out,
        opacity 1s ease-in-out; */

        transition-property: background-color, width, height;
        transition-duration: 0.7s;
        transition-timing-function: ease-in-out;
       
        padding: 30px;
        margin: 10px 20px;
        width: 100%;
        height: 100%;
        /* min-width: 25%; */
        /* min-height:100%; */
    /* max-width: 100%;
    max-height: auto; */
    /* height: 30em; */
    border: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    }
    
    .card:hover {
        opacity: 0.95;
        background-color: rgba(255, 187, 51, 0.5);
        width: 97%;
        height: 97%;
     /* background: url("../public/media/images/gradient_bgYellow.png"); */
    }
    
    .card_icon_container {
        
        top: 3rem;
            display: flex;
          position:relative;
          justify-self: flex-start;
          align-items: flex-start;
          /* z-index: -100; */
         opacity: 1;
         height: 100%;
       
    }
    #card_title{
        font-size: 2rem;
        font-weight: 600;
        position: absolute;
        top: 15rem;
        padding: 2rem;
        margin-bottom: 50px;
    }
    #card_text{
        position:absolute;
        top: 22rem;
        padding: 1rem;
        font-size: 1.5vw;
    }
    .video{
        position: relative;
        left: 0;
        top: 0;
        height: 100vh;
        /* min-height: auto; */
        width: 100%;
        object-fit:cover;
        object-position: center;
        z-index: -100;
        opacity: 0.5;
        padding: 0;
        margin: 0;
        /* overflow: hidden; */
    }
   
}