.outerContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* background-color: var(--darkBlue); */
}
.innerContainer {
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1400px;
    background-color: var(--yellow);
    padding: 0;
    margin: 0;
    background-color: white;
}
.subHeading{
    font-size: 6vw;
    letter-spacing: 3px;
    font-weight: 800;
    margin: 15px 0px;
    
}
.subHeadingPrice{
    font-size: 5vw;
    letter-spacing: 3px;
    font-weight: 300;
    margin: 5px 0px;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 3.6em;
    padding: 0%;
        background-color: var(--yellow);
    color: white;
    text-shadow: 2px 2px #000000;
    width: 100%;
    margin: 0;
}
.textContainer{
    height: 100%;
    width: 100%;
    padding: 0.2rem 2rem;
    margin: 2rem;
    letter-spacing: 1.5px;
}
.text {
    font-size: 1.4rem;
    font-weight: 300;
}

.divider{
    height: 25px;
    width: 100%;
    background-color: var(--yellow);
}



.brace{
    color: var(--yellow);
    margin: 0px 10px;
}





@media screen and (min-width: 1080px) {
    .title{
        display: flex;
        justify-content: center;
        font-size: 3.6em;
        padding: 0%;
        background-color: var(--yellow);
        color: white;
        text-shadow: 2px 2px #000000;
        width: 100%;
        margin-bottom: 20px;
    }
    .subHeading{
        font-size: 2.5rem;
        letter-spacing: 3px;
        font-weight: 600;
        margin: 20px 0px;
    }
    .subHeadingPrice{
        font-size: 2.0rem;
        letter-spacing: 3px;
        font-weight: 300;
        margin: 5px 0px;
    }
    .textContainer{
        height: 100%;
        width: 100%;
        padding: 0.2rem 4rem;
        margin: 2rem;
        line-height: 40px;
        letter-spacing: 1.5px;
    }
    .text {
        font-size: 1.4rem;
        font-weight: 300;
    }
    
}